.col-lg-12 h3 {
    padding-bottom: 30px;
    padding-top: 10px;
}
label#inputGroup-sizing-default,
span#inputGroup-sizing-default {
    width: 18%;
}


.bootstrap-select>.dropdown-toggle {
    max-width: 600px !important;
    min-width: 250px !important;
    border: solid 1px #8c8f94;
    border-radius: 0;
    background: white;
}

.col-lg-2.save_form button {
    width: 200px;
}